<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">


    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>lv.javaguru.java2.servlet.ControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/viewCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/chooseLanguage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/purchase</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ParameterProcessingServlet</servlet-name>
        <servlet-class>lv.javaguru.java2.servlet.ParameterProcessingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ParameterProcessingServlet</servlet-name>
        <url-pattern>/paramProcessing</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SessionUsageServlet</servlet-name>
        <servlet-class>lv.javaguru.java2.servlet.SessionUsageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SessionUsageServlet</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>lv.javaguru.java2.controllers.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RedirectToJSPServlet</servlet-name>
        <servlet-class>lv.javaguru.java2.servlet.RedirectToJSPServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirectToJSPServlet</servlet-name>
        <url-pattern>/jsp</url-pattern>
    </servlet-mapping>


    <context-param>
        <description>The relative path to product images</description>
        <param-name>productImagePath</param-name>
        <param-value>resources/images/products/</param-value>
    </context-param>
    <context-param>
        <description>The relative path to category images</description>
        <param-name>categoryImagePath</param-name>
        <param-value>resources/images/categories/</param-value>
    </context-param>
</web-app>